<div class="card-content">
  <div class="card-img">
    <img src="{{ destino.imageUrl }}" alt="" />
    <span
      ><h4>{{ position}}</h4></span
    >
  </div>
  <div class="card-desc">
    <h3>My Image {{ destino.nombre }}</h3>
    <p>Servicios</p>
    <ul>
        <li *ngFor="let s of destino.servicios">
            <span [ngSwitch]="s">
                <i *ngSwitchCase="'desayunos'" style="color:red"> {{s}} </i>
                <i *ngSwitchDefault> {{s}}</i>
            </span>
        </li>
    </ul>
    <div class="row row-flex">
      <a href="#" class="btn-card col-md-4" (click)="ir()">Marcar como preferido</a>
      <div class="col-md-2"></div>
      <span class="col-md-6" *ngIf="destino.isSelected()">
        <span ngNonBindable>
            {{° Preferido °}}
        </span>
      </span>
      <a [routerLink]="['/destino']"> Ver Detalle</a>
    </div>
  </div>
</div>
